*{  /*adaptar p diferentes navegadores*/  
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}



.container{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

.button-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover{
    opacity: 0.8;

}

.button-add-task:active{
    opacity: 0.6;
}

img{
    height:25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

body{
    background:url("./img/backgroundIm.jpeg")
}

.list-tasks{
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.task:hover img{
    opacity: 1;
}

.done{
    background-color: #8fac55;
    text-decoration:line-through;
}